
<% backlinks = RedmineBacklinks.get page %>
<% if backlinks.empty? -%>
  <%= l('backlinks_not_found') %>
<% elsif -%>
  <%= l('backlinks_header') %>: <ul>
    <% backlinks.each do |backlink_page| -%>
      <% title = backlink_page.pretty_title %>
      <% title = backlink_page.project.name + ": " + title if backlink_page.project != @project %>
      <% url_params = { :controller => 'wiki', :action => 'show', :project_id => backlink_page.project, :id => backlink_page.title } %>
      <li><%= link_to title, url_params %></li>
    <% end -%>
  </ul>
<% end -%>
