<table>
  <tbody>
    <tr>
      <th><p><label for="settings_show_always">Show under every wiki page</label></p></th>
      <td>
        <input type="checkbox"
          id="settings_show_always"
          <%= settings['show_always'] ? "checked" : "" %>
          name="settings[show_always]"
        >
      </td>
    </tr>
  </tbody>
</table>
